<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>getNews</servlet-name>
        <servlet-class>controllers.NewsServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>News</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>getNews</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>addComment</servlet-name>
        <servlet-class>controllers.NewsServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>News</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>addComment</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>editComment</servlet-name>
        <servlet-class>controllers.NewsServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>News</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>editComment</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>deleteComment</servlet-name>
        <servlet-class>controllers.NewsServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>News</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>deleteComment</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>getArtists</servlet-name>
        <servlet-class>controllers.ArtistServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Artists</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>artists</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>getBands</servlet-name>
        <servlet-class>controllers.ArtistServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Bands</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>bands</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>showProfile</servlet-name>
        <servlet-class>controllers.ArtistServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Artist/Band Profile</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>profile</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>controllers.AuthServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Home</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>login</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>controllers.AuthServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Home</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>logout</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>subscribe</servlet-name>
        <servlet-class>controllers.UserServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Artist/Band Profile</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>sub</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>unSub</servlet-name>
        <servlet-class>controllers.UserServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Artist/Band Profile</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>unSub</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>eventProfile</servlet-name>
        <servlet-class>controllers.EventsServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Event Profile</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>eventProfile</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>getEvents</servlet-name>
        <servlet-class>controllers.EventsServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Events</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>allEvents</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>artistEvents</servlet-name>
        <servlet-class>controllers.EventsServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Artist Events</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>artistEvents</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>releases</servlet-name>
        <servlet-class>controllers.ReleasesServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>New Releases</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>saleTypes</servlet-name>
        <servlet-class>controllers.MerchServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Merchandise Catagories</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>saleTypes</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>saleItems</servlet-name>
        <servlet-class>controllers.MerchServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Merchandise</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>saleItems</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>artistTypes</servlet-name>
        <servlet-class>controllers.MerchServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Merchandise Catagories</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>artistTypes</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>artistMerchItems</servlet-name>
        <servlet-class>controllers.MerchServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Merchandise</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>artistItems</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>itemDetails</servlet-name>
        <servlet-class>controllers.MerchServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Item Details</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>itemDetails</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>addToCart</servlet-name>
        <servlet-class>controllers.OrdersServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Item Details</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>addItem</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>controllers.UserServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Home</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>reg</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>cart</servlet-name>
        <servlet-class>controllers.OrdersServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Cart</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>cart</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>deleteItem</servlet-name>
        <servlet-class>controllers.OrdersServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Cart</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>removeItem</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>order</servlet-name>
        <servlet-class>controllers.OrdersServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Cart</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>order</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>controllers.UserServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Your Profile</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>profile</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>changePassword</servlet-name>
        <servlet-class>controllers.UserServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Your Profile</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>changePassword</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>changeEmail</servlet-name>
        <servlet-class>controllers.UserServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Your Profile</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>changeEmail</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>changeInfo</servlet-name>
        <servlet-class>controllers.UserServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Your Profile</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>changeInfo</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>changeAddInfo</servlet-name>
        <servlet-class>controllers.UserServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Your Profile</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>changeAddInfo</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>addMoney</servlet-name>
        <servlet-class>controllers.UserServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Your Profile</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>addMoney</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>cardDetails</servlet-name>
        <servlet-class>controllers.UserServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Your Profile</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>cardDetails</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>changeDelAddress</servlet-name>
        <servlet-class>controllers.UserServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Your Profile</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>changeDelAddress</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>changeBilAddress</servlet-name>
        <servlet-class>controllers.UserServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Your Profile</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>changeBilAddress</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>controllers.AdminServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Admin Home</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>adminHome</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>adminProfiles</servlet-name>
        <servlet-class>controllers.AdminProfilesServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Profile</param-value>
        </init-param>
        <init-param>
            <param-name>action</param-name>
            <param-value>placeholder</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>getNews</servlet-name>
        <url-pattern>/getNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addComment</servlet-name>
        <url-pattern>/addComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editComment</servlet-name>
        <url-pattern>/editComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getBands</servlet-name>
        <url-pattern>/getBands</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getArtists</servlet-name>
        <url-pattern>/getArtists</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showProfile</servlet-name>
        <url-pattern>/showProfile/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>subscribe</servlet-name>
        <url-pattern>/sub/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unSub</servlet-name>
        <url-pattern>/unSub/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteComment</servlet-name>
        <url-pattern>/deleteComment/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eventProfile</servlet-name>
        <url-pattern>/eventProfile/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getEvents</servlet-name>
        <url-pattern>/getEvents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>artistEvents</servlet-name>
        <url-pattern>/artistEvents/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>releases</servlet-name>
        <url-pattern>/releases</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saleTypes</servlet-name>
        <url-pattern>/saleTypes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saleItems</servlet-name>
        <url-pattern>/saleItems/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>artistTypes</servlet-name>
        <url-pattern>/artistMerchTypes/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>artistMerchItems</servlet-name>
        <url-pattern>/artistMerchItems/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>itemDetails</servlet-name>
        <url-pattern>/itemDetails/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCart</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reg</servlet-name>
        <url-pattern>/reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteItem</servlet-name>
        <url-pattern>/deleteItem/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>order</servlet-name>
        <url-pattern>/order/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeEmail</servlet-name>
        <url-pattern>/changeEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeInfo</servlet-name>
        <url-pattern>/changeInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeAddInfo</servlet-name>
        <url-pattern>/changeAddInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addMoney</servlet-name>
        <url-pattern>/addMoney</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cardDetails</servlet-name>
        <url-pattern>/cardDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeDelAddress</servlet-name>
        <url-pattern>/changeDelAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeBilAddress</servlet-name>
        <url-pattern>/changeBilAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin/*</url-pattern>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminProfiles</servlet-name>
        <url-pattern>/adminProfiles/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <description>header and footer settings</description>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/WEB-INF/views/*</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
</web-app>
